/* Universal styles */

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 16px;
}

body {
    background-color: #eae9f0;
}

h1, h2, h3, p {
    font-family: Roboto, sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 3rem;
}

h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 300;
    font-size: 1.5rem;
}

p.quote {
    font-family: Oswald, sans-serif;
    font-weight: 200;
}

p.code {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
}

.container {
    width: 80%;
    padding: 5%;
    border-bottom: 2px solid hsla(213, 5%, 39%, 0.5);
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}

/* Header */

header {
    height: 20%;
    background-color: #0e0636;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #FFF;
    text-align: center;
}

/* Colors section */

.colors .flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.color-box {
    width: 20%;
    min-width: 150px;
}

.color-box .sample-color {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border: 1px solid hsla(0, 0%, 0%, 0.8);
}

.color-box .color-codes {
    position: absolute;
    width: 100%;
    height: 80%;
    margin: 10% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fresh-blue .sample-color {
    background-color: #1a73e8;
}

.fresh-blue .color-codes {
    color: rgb(214, 214, 214);
}

.road-grey .sample-color {
    background-color: #5f6368;
}

.road-grey .color-codes {
    color: rgb(214, 214, 214);
}

.navy-blue .sample-color {
    background-color: #0e0636;
}

.navy-blue .color-codes {
    color: rgb(214, 214, 214);
}

.sky-grey .sample-color {
    background-color: #eae9f0;
}

.color-name {
    padding: 5% 0;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(234,233,240,1) 50%, rgba(255,255,255,0.1) 100%);
}

/* Fonts section */

.font {
    border-bottom: 1px solid hsla(213, 5%, 39%, 0.5);
    margin-bottom: 2.5%;
}

.font h3 {
    margin-bottom: 1%;
}

#roboto300 {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

#roboto300i {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-style: italic;
}

#roboto500 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

#oswald {
    font-family: Oswald, sans-serif;
}

#source-code-pro {
    font-family: "Source Code Pro", sans-serif;
}

/* Text styles section */

.text-styles .grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 0.5rem;
    text-align: center;
}

.t-style {
    position: relative;
    padding-bottom: 75%;
    background-color: hsla(214, 82%, 51%, 0.1);
}

.t-style .text {
    width: 100%;
    height: 60%;
    margin: 10% 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.t-style h2 {
    margin-bottom: 0;
}

.text-styles li {
    line-height: 1.3;
}